/* --- FOOTER STYLING --- */

footer{
    width: var(--width-full);
    margin: var(--space-d) 0;
}

.footer_container{
    width: var(--width-full-inset);
    max-width: var(--width-wide-inset);
    margin: 0 auto;
    padding: 0 ;
}

.footer_guarantees_section{
    border-bottom: 2px solid ;
    padding-bottom: var(--space-b);
    margin-bottom: var(--space-b);
 
}
.footer_guarantees_section .wp-block-columns{
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: var(--space-gap);
    flex-wrap: wrap;
    p{
        margin-top: 20px;
    }
    .wp-block-column{
        flex-basis: 10%;
        flex-grow: 1;
        min-width: 200px;
    }
}
@media (max-width: 576px){
    .footer_guarantees_section .wp-block-columns{
        justify-content: center;
       
    }
    .footer_guarantees_section .wp-block-column{
        padding-bottom: var(--space-c);
    }

    .footer_links_section{
        padding-top: var(--space-c);
        flex-direction: column;
        align-items: center;
    }
}
.footer_guarantees_section .wp-block-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_guarantees_section .wp-block-column p strong:first-child{
    font-size: var(--step-1);
}


/*Footer Links Section*/
.footer_links_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-gap);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1200px){
    .footer_links_section{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 820px){
    .footer_links_section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px){
    .footer_links_section{
        grid-template-columns: repeat(1, 1fr);
    }
}

.menu-footer-menu-container ul{
    padding-left: 0;
}
.menu-item{
    list-style: none;
}
.footer_links_section a{
    font-weight: var(--font-weight-semibold);
    color: inherit;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    svg{
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
}
.footer_links_section a:hover{
    color: var(--color-gold);
    text-decoration: underline;
}
.footer_links_section p{
    margin-bottom: 10px;
}
.footer_links_section p a{
    display: inline-block;
    margin: 0;
}