.main--webinar{
    min-height: 100vh;
    padding-top: var(--space-b);
    padding-bottom: 140px;
    h1, h1 strong{
        font-size: var(--step-4);
        text-transform: none;
        line-height: 1.3em;
        display: inline-block;
    }
    
}

.webinar-host{
    margin: var(--space-gap) 0 0 0 !important;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    img{
        width: 110px;
        height: 110px;
        object-fit: cover;
        flex-shrink: 0;
    }
    h2{
        font-size: var(--step-1)!important;
        margin-bottom: 5px;
    }
}
.wj_embed_wrapper{
    .wj_cover-img{
        background-color: white!important;
    }
    #countdown *{
        color: var(--color-text)!important;
    }
    .wj_bottombar_collapse{
        display: none!important;
    }
    .js_date_container{
        font-size: var(--step-1);
    }
    .wj_bottombar_date_list *{
        color: var(--color-text);
    }
}
@media(max-width: 1024px){
    .main--webinar {
       .wp-block-columns{
        flex-wrap: wrap!important;
       }
        .wp-block-column{
            flex-basis: 100%!important;
        }
    }
}
@media(max-width: 768px){
    .main--webinar{
        padding-bottom: 240px;
    }
    .wj_embed_wrapper{
        .wj_bottombar_collapse{
            display: block!important;
            margin-top: 0;
        }
    }
}